.site-footer {
    background-color: #ffb2d9; /* Matches header color */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 40px;
}

/* Footer Logo */
.footer-logo img {
    height: 200px;
    width: 200px;
}

/* Footer Links */
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Footer Section Titles */
.footer-links .menu,
.footer-links .social-media,
.footer-links .contact {
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 5px;
}

/* Footer Menu Items */
.menuitem {
    color: black;
}

.menuitem:hover {
    background-color: antiquewhite;
    padding: 5px;
}

/* Social Media Icons */
.footer-socials {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
}

.footer-socials img {
    height: 50px;
}

/* Footer Contact */
.footer-contact p {
    font-size: 16px;
    margin: 0;
}

/* Adds space between Email and Tel */
.footer-contact p:not(:last-child) {
    margin-bottom: 10px;
}

/* Copyright */
.copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: black;
}
