.footer {
    background-color: #ffb2d9;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 40px;
}

.footer img {
    height: 200px;
    width: 200px;
}

#instagram, #facebook {
    width: 40px;
    height: auto;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a {
    font-family: "Montserrat", serif;
    font-size: 16px;
    text-decoration: none;
}

.menuitem {
    color: black;
}

.menuitem:hover {
    background-color: antiquewhite;
    padding: 5px;
}

.footer-socials {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
}

.footer-socials img {
    height: 50px;
}

.footer-contact p {
    font-family: "Montserrat", serif;
    font-size: 16px;
    margin: 0;
}

.footer-contact p:not(:last-child) {
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: black;
}
