.header-header {
    height: 55px;
    background: #ffb2d9;  
}



.socials {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    height: 40px;
    width: 40px;
}

.socials:hover {
    background-color: antiquewhite;
    padding: 5px;
}

.logo {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
}

.navbar {
    text-align: center;
}

.navbar a {
    font-family: "Montserrat", serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    margin-right: 25px;
}

#hover:hover {
    background-color: #ffb2d9;
    color: white;
    padding: 5px;
}

.navline {
    border: 2px solid;
    color: #ffb2d9;
}
